asn1crypto==0.24.0
blessings==1.6.1
bpython==0.17
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
## !! Could not determine repository location
cryptopals==0.0.0
curtsies==0.2.11
greenlet==0.4.12
idna==2.6
pudb==2017.1.4
pycparser==2.18
Pygments==2.2.0
requests==2.18.4
six==1.11.0
urllib3==1.22
urwid==2.0.1
wcwidth==0.1.7
